<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.astrika.checqk.discount">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:allowBackup="true"
        android:largeHeap="true"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".view.DiscountManagementActivity"
            android:label=""
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.AddDiscountTimingDialogModuleActivity"
            android:label=""
            android:screenOrientation="portrait" />


        <service
            android:name=".master_controller.sync.MasterSyncIntentService"
            android:exported="false" />

    </application>

</manifest>